$primary-color: rgb(13, 12, 38);
$Shopping-color: rgba(202, 236, 181, 0.7);
$Work-color: rgba(255, 255, 0, 0.7);
$School-color: rgba(0, 255, 255, 0.7);
$Home-color: rgba(255, 0, 0, 0.7);
$Important-color: rgba(255, 165, 0, 0.7);
$Other-color: rgba(189, 189, 189, 0.7);
